<div ng-controller="CameraController">
<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Chapel Hill Bible Church
    </super-navbar-title>
  </super-navbar>


    <button class="button button-block button-positive icon-left super-camera" ng-click="getCamera()">Take a Photo</button>

</div></div>

<div class="padding" >
<h2>Form</h2>
<form ng-submit="submit()" ng-controller="FormController">
<button class="button button-block button-positive icon-left super-camera" ng-click="testDataConnection()">Test Data</button>

  <label class="item item-input"><input type="text" ng-model="username" name="username" placeholder="username" /></label>
  <label class="item item-input"><input type="password" ng-model="password" name="password" placeholder="password"/></label>
  <label class="item item-input"><input type="text" ng-model="email" name="email" placeholder="email address" /></label>
<input type="submit" id="submit" value="Submit" />


    <button class="button button-block button-positive icon-left super-star" type="submit" id=submit ng-click="createUser()">Create user</button>

</div>
