<div ng-controller="CameraController">
<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Chapel Hill Bible Church
    </super-navbar-title>
  </super-navbar>


    <button class="button button-block button-positive icon-left super-camera" ng-click="getCamera()">Take a Photo</button>

</div></div>

<div class="padding" >

<!-- <img src="/images/baseball.jpg" width="100%"> -->

<h2>Form</h2>


  <div ng-controller="FormController">
<button class="button button-block button-positive icon-left super-camera" ng-click="testDataConnection()">Test Data</button>


<form name="testForm">
   <div class="form-group">
     <label class="item item-input" for="name">
      <input type="text" placeholder="First and Name" name="name" ng-model="name" class="form-control" required />
    </label>


    <label class="item item-input" for="email">
    <input type="email" placeholder="Email Address" name="email" ng-model="email" class="form-control item item-input" required />
    </label>
  </div>

<button ng-click="formParse(testForm)" class="button button-block button-positive">Submit</button>
</form>
</div>

</div>
