<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title><%= yield.viewName %></title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css" />
  <link rel="stylesheet" href="/app/common/stylesheets/application.css" />
  <link rel="import" href="/components/supersonic/components/import.html">

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.js"></script>

  <!-- Bower Way -->
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/parse/parse.min.js"></script>


  <script>
    Parse.initialize("W9uXFiwaQ0ZNx4oG0JWC7rbWZHtA3w9bi1LxfqQd", "HZgOleLtk18UAtDCFyA4lMIZBtA0tQus2qXyzSC4");
  </script>

  <% _.each(yield.modules, function(module) { %>
  <script src="/app/<%= module %>.js"></script>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>

</body>
</html>
